
<footer>
    <div class="footer">
        <div class="footer-items">
            <div class="hours-open">
                <h4>OPENING HOURS</h4>
                <div class="hours">
                        <P>MONDAY.....8:00 AM - 6:00 PM</P>
                        <P>TUESDAY.....8:00 AM - 6:00 PM</P>
                        <P>WEDNESDAY.....8:00 AM - 6:00 PM</P>
                        <P>THURSDAY.....8:00 AM - 6:00 PM</P>
                        <P>FRIDAY.....8:00 AM - 6:00 PM</P>
                </div>
            </div>
            <div class="location">
                <h4>LOCATION</h4>
                <div class="area">
                    <p>Kisinja Road</p>
                    <p>Plot 256 Jinja</p>
                    <p>Uganda</p>
                </div>
            </div>
            <div class="activity">
                <h4>ACTIVITIES</h4>
                <p>Out door games</p>
                <p>In door games</p>
                <p>Swimming $ Football</p>
                <p>Athletics</p>
            </div>
            <div class="contact">
                <h4>CONTACT</h4>
                <div class="reach-me">
                    <div>
                        <p>Phone +256 758 456 1256</p>
                        <p>E-mail saraN@gmail.com</p>
                    </div>
                    <div class="social-media">
                        <img src="/img/Facebook.png" alt="Facebook">
                        <img src="/img/Twiter.png" alt="Twiter">
                        <img src="/img/Instagram.jpeg" alt="Instagram">
                    </div>
                 </div>
             </div>
        </div>
        
    </div>
    
    <h5 class="copy-right">&copy; Sarah Nalule Nursary And Primary School - Jinja</h5>
    
</footer>


</div>

</body>
</html>