    
    <%- include('header', { title: title }) %>

<div class="home-info">
    <main>
        <section>
            <div class="burner-text">

            </div>
            <div class="burner-img">
                <img src="" alt="">
            </div>
        </section>
    </main>
</div>













<%- include('footer') %>
</div>

</body>
</html>
